/* style pour la navbar */
.nav-link{
    color: black;
}
.main-nav{
    box-shadow: none;
    background-color: white;
    border-bottom: 1px solid #c5c1c1;
}

/* style pour le menu dropdown */
.shopping-cart {
    padding: 8%;
    width: 480px;
}
.card-body {
    padding: 0px;
    padding-left: 20px;
}
.card {
    box-shadow: none;
}
#price {
    justify-content: end;
    display: grid;
}
.button-dropdown {
    width: 100%;
    border-radius: inherit;
}
.shopping:hover {
    text-decoration: underline;
}

/* style pour l'image'*/
.hand-painted{
    height: 500px;
}

/* style pour le breadcrumb */
.breadcrumb{
    margin: 50px 0 70px 0;
}

/* style pour la descrption du texte */
.article-description{
    padding: 0 70px 0 70px;
}

.title-description{
    padding: 0 50px 0 50px;
}

/* style pour la quantité */
.quantity{
    left: 25px;
    bottom: -15px;
    background-color: #dcdcdc;
    height: 53px;
    width: 47px;
    padding-top: 14px;
}
.plus,
.less {
    left: 25px;
    bottom: -15px;
    background-color: #a2a2a2;
    height: 25px;
    width: 23px;
    margin-bottom: 3px;
    padding-left: 1px;
}

.quantity-col{
    padding: 0 10px 0 0;
}
.params-button{
    padding: 0px 0px 0px 2px;
}
.quantity-article{
    padding: 0px 0px 0px 0px;
}


/* style pour valider la commande */
.button-add-to-cart{
    padding: none;
}
.add-to-cart{
    border-radius: inherit;
    box-shadow: none;
    width:58%;
    height: 50px;
}