body{
    font-family: system-ui;
}

h2{
    font-family: serif;
}

.price-article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
    font-size: 21px;
}
/* style pour la navbar */
.nav-link{
    color: black;
}
.main-nav{
    box-shadow: none;
    background-color: white;
    border-bottom: 1px solid #c5c1c1;
}

/* style pour le menu dropdown */
.shopping-cart {
    padding: 8%;
    width: 480px;
}
.card-body {
    padding: 0px;
    padding-left: 20px;
}
.card {
    box-shadow: none;
}
#price {
    justify-content: end;
    display: grid;
}
.button-dropdown {
    width: 100%;
    border-radius: inherit;
}
.shopping:hover {
    text-decoration: underline;
}

/* style pour l'image'*/
.hand-painted{
    height: 500px;
}

/* style pour le breadcrumb */
.breadcrumb{
    margin: 50px 0 70px 0;
}

/* style pour la descrption du texte */
.article-description{
    padding: 0 70px 0 70px;
}

.title-description{
    padding: 0 50px 0 50px;
}

/* style pour la quantité */
.quantity{
    left: 25px;
    background-color: #dcdcdc;
    height: 53px;
    width: 47px;
    padding-top: 14px;
}
.plus,
.less {
    left: 25px;
    bottom: -15px;
    background-color: #a2a2a2;
    height: 25px;
    width: 23px;
    margin-bottom: 3px;
    padding-left: 1px;
}

.quantity-col{
    padding: 0 10px 0 0;
}
.params-button{
    padding: 0px 0px 0px 2px;
}
.quantity-article{
    padding: 0px 0px 0px 0px;
}


/* style pour valider la commande */
.button-add-to-cart{
    position: absolute;
    margin-left: 170px;
    top: 541px;
    width: 14%;
}
.add-to-cart{
    border-radius: inherit;
    box-shadow: none;
    width:75%;
    height: 53px;
}

.quantity-art{
        margin-left: 110px;
}

/* Style pour un écran de 1024px */
@media screen and (max-width: 1024px) {
    .quantity {
        left: 694px;
        top: 566px;
        background-color: #dcdcdc;
        height: 53px;
        width: 50px;
        padding-top: 14px;
        position: absolute;
    }
    /* style pour l'image'*/
    .hand-painted{
        height: 350px;
    }
    .article-description {
        padding: 0 10px 0 10px;
    }
    .quantity-art {
        margin-left: 100px;
    }
    .button-add-to-cart {
        top: 562px;
        width: 20%;
        margin-left: 155px;
    }
}

/* Style pour un écran de 768px */
@media screen and (max-width: 768px) {
    /* style pour l'image'*/
    .hand-painted{
        height: 270px;
    }
    .title-description{
        font-size: 20px;
    }
    .article-description {
        padding-left: 22px;
    }
    .article-cat,
    .description-art,
    .price-one-art{
        font-size: 11px;
    }
    .price-article {
        font-size: 20px;
    }
    .quantity {
        left: 490px;
        top: 496px;
    }
    .quantity-art {
        margin-left: 50px;
    }
    .button-add-to-cart {
        top: 492px;
        width: 26%;
        margin-left: 87px;
    }
    .dropdown-arrow,
    .shopping,
    .center-element{
        display: none;
    }
}

/* Style pour un écran de 425px */
@media screen and (max-width: 425px) {
    .dropdown-arrow{
        display: none;
    }
    /* style pour l'image'*/
    .hand-painted{
        height: 250px;
    }
    .title-description {
        font-size: 25px;
    }
    .button-add-to-cart {
        top: 723px;
        width: 47%;
        margin-left: 155px;
    } 
    .quantity {
        left: 115px;
        top: 727px;
    }
    .plus,
    .less{
        position: absolute;
        left: 168px;
    }
    
    .less{
        top:755px;
    }
    .plus{
        top:727px;
    }
    .price-article {
        font-size: 20px;
    }
}

/* Style pour un écran de 375px */
@media screen and (max-width: 375px) {
    .bdrcmb{
        font-size: 10px;
    }
    /* style pour l'image'*/
    .hand-painted{
        height: 215px;
    }
    .article-description {
        padding: 0 26px 0 26px;
    }
    .quantity {
        left: 100px;
    }
    .plus, .less {
        left: 153px;
    }
    .button-add-to-cart {
        width: 53%;
        margin-left: 135px;
    }
}